*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: black;
    display: block;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

nav {
    width: 90%;
    margin: 0 auto;
    justify-content: space-between;
    display: flex;
    align-items: center;
}

.nav-menu-list {
    display: flex;
    align-items: center;
}

.nav-item {
    padding: 20px 15px;
}

.brand {
    padding: 20px 15px;
    font-size: x-large;
    display: flex;
    text-shadow: 2px 1px saddlebrown;
    text-decoration: none;
}

a {
    color: #f4f4f4;
    text-decoration: none;
    display:flex;
    cursor: pointer;
 }

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    padding-inline-start: 40px;
}

li{
    display: list-item;
    text-align: -webkit-match-parent;
}

body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #faebd7;
}

.container {
    width: 90%;
    margin: 0 auto;
    padding: 0 10px;
}

.hero{
    color: maroon;
    padding: 2rem;
    margin: 2rem 0;
    text-align: center;
    font-size: 20px;
}


.hero p:first-child {
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 2rem;
}

p {
    display: block;
}

.about-box .img-selection {
    position: relative;
    margin-bottom: 24px;
}

.about-box .img-cont img {
    box-shadow: 10px 10px 10px saddlebrown;
    height: 600px;
    width: auto;
    border-radius: 20px;
}

.about-box .status-sec {
    background-color: whitesmoke;
    flex-direction: column;
    width: 140px;
    height: 140px;
    font-size: 12px;
    display: flex;
    border-radius: 60%;
    position: absolute;
    bottom: -12rem;
    right: 67rem;
    align-items: center;
    justify-content: center;
}

.about-box .status-name {
    color: maroon;
    font-size: 16px;
    font-weight: bold;
}

.text {
    bottom: -7rem;
    font-size: 1.4rem;
    position: absolute;
    left: 41rem;
    line-height: 2rem;
}

.abt p {
    text-align: center;
    color: #800000;
    font-weight: bolder;
    font-size: 2rem;
    margin-bottom: 2rem;
}

.details p {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
    line-height: 2rem;
    font-weight: bold;
}

.details ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: maroon;
    font-weight: bold;
}

.all {
    margin-top: 2rem;
}

.list-item {
    list-style: none;
    line-height: 2.5rem;
    font-weight: bold;
    flex-direction: column;
}

li{
    display: list-item;
}

.note p {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(33, 33, 36);
    line-height: 2rem;
    font-weight: bolder;
    margin-bottom: 2rem;
}